<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luyuan.tech.com.chaoke">

    <!-- 拨打电话 -->
        <uses-permission android:name="android.permission.CALL_PHONE" />
        <!-- 发送短信 -->
        <uses-permission android:name="android.permission.SEND_SMS" />
        <!-- 读取手机状态和身份 -->
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <!-- 修改您的通讯录 -->
        <uses-permission android:name="android.permission.WRITE_CONTACTS" />
        <!-- 读取联系人 -->
        <uses-permission android:name="android.permission.READ_CONTACTS" />
        <uses-permission android:name="android.permission.WRITE_SMS" />
        <!-- 读取短信 -->
        <uses-permission android:name="android.permission.READ_SMS" />
        <!-- 查看WLAN连接 -->
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <!-- 连接WLAN网络和断开连接 -->
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <!-- 访问蓝牙设置 -->
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        <!-- 修改系统设置 -->
        <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        <uses-permission android:name="android.permission.BATTERY_STATS" />
        <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
        <!-- 计算应用存储空间 -->
        <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
        <!-- 此应用可显示在其他应用上方 -->
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        <!-- 关闭其他应用 -->
        <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
        <!-- 查看网络连接 -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <!-- 更改网络连接性 -->
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <!-- 访问蓝牙设置 -->
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <!-- 拥有完全的网络访问权限 -->
        <uses-permission android:name="android.permission.INTERNET" />
        <!-- 修改或删除您的USB存储设备中的内容 -->
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <!-- 访问大致位置信息（以网络为依据） -->
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <!-- 访问确切位置信息（以 GPS 和网络为依据） -->
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <!-- 安装快捷方式 -->
        <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
        <!-- 控制振动 -->
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.READ_LOGS" />
        <!-- 防止手机休眠 -->
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <!-- 读取通话记录 -->
        <uses-permission android:name="android.permission.READ_CALL_LOG" />
        <!-- 新建/修改/删除通话记录 -->
        <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
        <!-- 拍摄照片和视频 -->
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
        <!-- 设置壁纸 -->
        <uses-permission android:name="android.permission.SET_WALLPAPER" />
        <!-- 录音 -->
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="399ff3f624a6639df8de07dde0d01d2f"/>
        <service android:name="com.amap.api.location.APSService"></service>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddHouseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddHouseOtherInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HouseTaskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ClientTaskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeTongTiaoKuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShouFangShenPiListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WeiTuoHeTongActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ZiYingFangYuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.KaiFaFangYuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ZuKeDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.QianYueFangYuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DaiKanFangYuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeToneXinXiOneActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeToneXinXiTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeToneXinXiThreeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeToneXinXiFourActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ZuKeXinXiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ZuKeXinXiQiTaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XiuGaiZhuangTaiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XianChangQianYueActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.YuYueDaiKanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeToneXinXiFiveActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XianChangDaiKanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XianChangDaiKanTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShouFangShenPiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShiKanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GenJinActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueOneActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueThreeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueFourActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueFiveActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueSixActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueSevenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueEightActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueNineActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueTenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HeToneXiangQingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ZuQianKeHuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanXiangQingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChuZuHeTongActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChuFangJiaoGeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShouFangJiaoGeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TongXunLuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XiaoXiXiangQingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChongZhiMiMaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChuZuHeTongXiangQingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.WeiTuoHeTongXiangQingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutChaoKeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TuiGuangActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.YiJianFanKuiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GeRenTuiGuangActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GeRenYeJiPaiMingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GeRenXiaoLiangPaiMingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShouFangJiaoGeListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChuFangJiaoGeListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueEightChuZuRenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueEightGongZuRenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FangYuanQianYueEightJiaFangDaiLiRenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XuanZeYueKanFangYuanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.HouseSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.KeHuSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.XuanZeXiaoQuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GeRenYeJiMingXiActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.Html5Activity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BoHuiWeiTuoHeTongXiangQingActivity" android:screenOrientation="portrait"/>



        <activity android:name=".activity.WeiTuoXuQianActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>